html {
	background-color: #e4e4e4;
	padding: 0;
}

body {
	max-width: 64em;
	margin: auto;
	background-color: #508539;
	font-family: sans-serif;
	box-shadow: 0 0 5px 5px #bbbbbb;
}

nav {
	user-select: none;
	text-align: center;
	cursor: pointer;
	padding: 2rem;
	background-color: #609549;
	color: #ffffff;
}

nav h1 {
	margin: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.5rem
}

section {
	display: flex;
	vertical-align: middle;
	background-color: #ffffff;
	padding: 3rem 8rem;
}

section > div {
	flex-grow: 1;
}

section.align-left > img {
	width: 8rem;
    float: right;
}

section.align-right {
	background-color: #f8f8f8;
}
section.align-right > img {
	width: 8rem;
    float: left;
}
section.align-right > div {
	text-align: right;
}

section.align-center {
	background-color: #f8f8f8;
}
section.align-center > div {
	text-align: center;
}

footer {
	font-size: .9rem;
	padding: .5rem;
	color: #f0f0f0;
	text-align: center;
}

a {
	color:#609549;
}

button {
	background-color: #609549;
	color: #f8f8f8;
	border-radius: .5rem;
	padding: .5rem;
	border-width: 0;
	cursor: pointer;
}
